@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Outfit:wght@400;500;600;700;800;900&display=swap');

@theme {
  --font-inter: "Inter", sans-serif;
  --font-outfit: "Outfit", sans-serif;

  --color-slate-950: #020617;
  --color-slate-900: #0f172a;
  --color-slate-800: #1e293b;
  --color-slate-700: #334155;
  --color-slate-600: #475569;
  --color-slate-500: #64748b;
  --color-slate-400: #94a3b8;
  --color-slate-300: #cbd5e1;
  --color-slate-200: #e2e8f0;
  --color-slate-100: #f1f5f9;
  --color-slate-50: #f8fafc;
}

@utility glass-card {
  @apply bg-slate-900/50 border border-white/10 backdrop-blur-xl shadow-2xl;
}

@utility btn {
  @apply py-3 px-6 rounded-2xl font-bold flex items-center justify-center gap-3 transition-all active:scale-[0.98] disabled:opacity-70 disabled:cursor-not-allowed;
}

@utility btn-primary {
  @apply btn bg-indigo-600 hover:bg-indigo-500 text-white shadow-xl shadow-indigo-500/20;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-inter);
  @apply bg-slate-950 text-slate-100;
}